<div class="container">
  <h2 class="text-center">Recent Articles</h2>

  <ul class="row">
    <% @articles.each do |article| %>
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">
        <h3><%= link_to Kramdown::Document.new(article.title).to_html.html_safe, article_path(article) %></h3>
        <p><%= Kramdown::Document.new(article.content).to_html.html_safe %> </p>
      </div>
    <% end %>
  </ul>

  <br>
<!--   <div class="text-center">
    <h4>
      <%= link_to 'Add a new article', new_article_path %>
    </h4>
  </div> -->
  <br>
  <br>
  <br>
</div>
