<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 text-center">
      <h2>Add a new article</h2>
    </div>
  </div>
  <br>
  <br>
  <br>

  <%= render 'form' %>

</div>
